* {
    border: none;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Cascadia Mono Semibold, FontAwesome6Free, FontAwesome6Brands;
    font-size: 12px;
}

window#waybar {
    background-color: black;
    color: #f2d8e9;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    color: #f2d8e9;
    font-weight: bold;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    margin: 5px;
    min-height: 0;
}

#workspaces > :not(.focused):hover {
    background-color: rgba(43, 41, 43, 0.85);
}

#workspaces > .visible,
#workspaces > .visible > * {
    background-image: none;
    text-shadow: none;
}

#workspaces button.visible {
    color: black;
    background-color: #5de65a;
}

#workspaces button.urgent {
    background-color: #d92365;
}

#mode {
    background: #8a8299;
    margin: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #120e12;
}

label:disabled,
button:disabled {
    color: inherit;
    background-image: none;
}

/* Modules Configuration */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-pacman,
#custom-brightness,
#language,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 8px;
}

#cpu,
#temperature,
#memory,
#disk,
#network,
#pulseaudio,
#mpd {
    margin: 10px 0px;
}

#window,
#custom-media {
    margin: 0 0px;
}

#clock {
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

#window {
    padding: 0 25px;
}

#custom-pacman {
    color: #f2d8e9;
    margin: 0px;
}

#workspaces {
    padding: 0 0px;
}

#cpu {
    border-radius: 5px;
}

#temperature {
    border-radius: 5px;
}

#memory {
    border-radius: 5px;
}

#disk {
    border-radius: 5px;
}

#network {
    border-radius: 5px;
}

#pulseaudio {
    border-radius: 5px;
}

#custom-media {
    padding: 0 15px;
}

#idle_inhibitor {
    color: #f2d8e9;
    padding: 6px;
    margin-right: 12px;
    min-width: 30px;
}

#idle_inhibitor.activated {
    background-color: #f2d8e9;
    color: #0b0b0b;
    padding: 12px;
    margin-right: 0px;
}

#language {
    color: #f2d8e9;
    padding: 0 7px;
    padding-right: 15px;
    min-width: 27px;
}

#tray {
    margin-right: 20px;
}
